# Configuración del Token de Seguridad para la comunicación con Android
API_SECRET_TOKEN=tu_token_secreto_aqui_para_la_app

# Configuración de la Fuente de Datos Externa
TARGET_SOURCE_URL=https://www.bcv.org.ve/
TARGET_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36...

# Selectores del DOM para el parseo del HTML
HTML_ID_USD=dolar
HTML_ID_EUR=euro
HTML_TARGET_TAG=strong
HTML_TARGET_CLASS=strong-tb